singularity {
    enabled = true
    autoMounts = true
    runOptions = "--bind $PWD,/vast/scratch/users/yan.a/,$HOME"
	singularity.envWhitelist = "JAVA_HOME"
    SINGULARITYENV_R_LIBS_USER="/usr/local/lib/R/site-library"
    SINGULARITYENV_R_ENVIRON_USER="NULL"
}

process {
    executor = 'slurm'
    cpus = 48
    memory = '480 GB'
    time = '48h'
}

report {
    enabled  = true
    file     = 'report2.html'
    overwrite = true
}