singularity {
    singularity.enabled           = true
    singularity.autoMounts        = true
    docker.enabled                = false              
    singularity.runOptions        = "--bind $PWD"
    singularity.envWhitelist      = "JAVA_HOME"
    SINGULARITYENV_R_LIBS_USER    = "/usr/local/lib/R/site-library"
    SINGULARITYENV_R_ENVIRON_USER = "NULL"
}
docker {
    docker.enabled           = true
    docker.enabled           = true
    singularity.enabled      = false
    docker.runOptions        = "-u $(id -u):$(id -g) -v $(PWD):$(PWD) -w $(PWD)"
}
